@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    padding:0;
    margin: 0;
}

body{
    height:100vh;
    background-image: linear-gradient(to right,#01022d, #000000);
    display:flex;
    justify-content: center;
    align-items: center;
}
a{
    color:white;
    text-decoration: none;
}
.container{
    background-image: linear-gradient(to right,#01022de5 30%,#00000088),url("photo.webp");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    width:90%;
    height:640px;
}
.container:hover{
    background-image: linear-gradient(to right,#01022de5 30%,transparent),url("photo.webp");
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.logo{
    font-size: 30px;
    text-transform: uppercase;
}

ul{
    width:60%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
ul li a{
    border-bottom: transparent solid 2px;
    transition: .5s;
}
ul li a:hover{
    border-bottom: white solid 2px;
}

.content{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding:30px;
}
.content h2{
    font-size:100px ;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 2px;
    width:358.72px;
    padding:20px 0;
}
.content button{
    font-size:30px;
    padding:6px 10px;
    border-radius: 10px;
    border:2px solid transparent;
    cursor:pointer;
    transition: .5s;
}

.content button:hover{
    background-color: transparent;
    border-color:white;
    color:white;
}
::selection{
    background-color: #0c0e77;
}